<h2>Program: <br><%= @program.name %></h2>
<%= link_to "Add new circuit", new_program_circuit_path(@program) %>

<% @program.circuits.each do |circuit| %>
    <h3><%= link_to circuit.name,  program_circuit_path(circuit, circuit.id) %></h3>
<% end %>